body{
  font-size: 26px !important;
  line-height: 26px !important;
  height: 100%;
  padding: 0px 0 98px 0px;
}
.top_state{
  height: 40px;
  background: linear-gradient(to right, #f88d2d , #f75820); /* 标准的语法 */
  width: 100%;
}
.page_margin{
  margin:0px 20px;
}
.margin_top_20{
  margin-top:20px;
}
.mui-search input[type='search'] {
  height: 60px;
}
.common_bj{
  background-color: white;
  border-radius: 10px;
}
.font20{
  font-size: 20px;
  line-height: 20px;
}
.font22{
  font-size: 22px;
  line-height: 22px;
}
.font26{
  font-size: 26px;
  line-height: 26px;
}
.font24{
  font-size: 24px;
  line-height: 24px;
}
.font28{
  font-size: 28px;
  line-height: 28px;
}
.font30{
  font-size: 30px;
  line-height: 30px;
}
.font32{
  font-size: 32px;
  line-height: 32px;
}
.font36{
  font-size: 36px;
  line-height: 36px;
}
.main_color{
  color:#f75820;
}
.main_color_01{
  color: #f88d2d;
}
.colorE5{
  color:#e5e5e5;
}
.color666{
  color:#666;
}
.color999{
  color:#999;
}
.one_line{
  white-space: nowrap; overflow: hidden; text-overflow: ellipsis
}
.header_bj{
  height: 88px;
  background: linear-gradient(to right, #f88d2d , #f75820); /* 标准的语法 */
}
.rotate:before{
  transform:rotate(180deg);
  display: inline-block;
}

